alias blue='systemctl start bluetooth && bluetoothctl'
alias cat=bat
alias down='systemctl poweroff'
alias mount_movies='sudo mount /dev/sda5 /mnt/movies'
alias mount_others='sudo mount /dev/sda4 /mnt/others'
alias v='fzf --preview-window=wrap --preview '\''bat --style=numbers --theme='\''OneHalfDark'\'' --color=always {}'\'' --height=75%'
alias wifi='nmcli d wifi'
alias wifi_connect='nmcli d wifi connect'
alias wifi_list='nmcli d wifi list'
alias wifi_scan='nmcli d wifi rescan'
alias algos='qpdfview ~/Documents/Algo-DS%20IMPORTANT%20qns.pdf'
alias proxyc='ssh-proxy-on && ssh-proxy-chrome'
alias sound='pavucontrol'
alias copy='xclip -selection clipboard <'
alias ssh-proxy-to='ssh -D 1337  -C -N'
alias mount_others='sudo mount /dev/sda4 /mnt/others'
alias mount_others='sudo mount /dev/sda5 /mnt/movies'
alias idea='~/intellij-idea/bin/idea.sh'
alias r='ranger'
alias cp='cp -v'
alias mv='mv -v'
alias dot='/usr/bin/git --git-dir=/home/bestin/.cfg/ --work-tree=/home/bestin'
alias daa='dot add -u'
alias dcm='dot commit -m'
alias dp='dot push'
